@import 'reset';
@import 'fonts';
@import 'colors';
$game-width: 100%;
$game-height: 100vh;
$game-font: 'Vazir';
$game-box-width: 85%;

body{
    background-image: url('../image/dice.png');
    background-size: 200px;
}
.game {
    width: $game-width;
    height: $game-height;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font: {
        family: $game-font;
        size: 1.4em;
    }
    
}

.game-box {
    width: $game-box-width;
    padding: 1em 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px #afafaf;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.game-header,
.game-content {
    margin: 30px 0;
}

.game-header {

    .game-title {
        text-align: center;
        font-size: 2em;

        &:after {
            content: '';
            display: block;
            width: 100%;
            margin: 0 auto;
            height: 2px;
            background: red;
        }
    }

    .game-description {
        text-align: center;
        font-size: .8em;
    }

}

.guess-btn {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: $main-color;
    transition: all .2s ease-in-out;

    font: {
        family: $game-font;
        size: 16px;
    }

    outline: none;

    &:hover {
        color: #ffffff;
        background-color: $secondary-color;
    }

}

#game-input {
    font: {
        family: $game-font;
        size: 16px;
    }

    outline: none;
    width:150px;
    padding: 5px;
    border-radius: 5px;
    border:2px solid #ddd;
    text-align: center;

    &:active,
    &:focus {
        border: 2px solid $secondary-color;
    }
}

.shake {
    animation: shake .2s;
}

.success {
    border: 2px solid $success-color !important;
    color: $success-color;
}

.error {
    border: 2px solid $error-color !important;
    color: $error-color;
}

.message {
    font-size: 16px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;

}

.error-message {
    background-color: rgb(255, 228, 228);
    color: $error-color;
}

.success-message {
    background-color: rgb(230, 255, 230);
    color: $success-color;
}

.cheat-btn {
    @extend .guess-btn;
    background-color: $error-color;

    &:hover {
        background-color: $secondary-color;
    }

}

.answer {
    @extend .message;
    @extend .success-message;
    border: 2px solid $success-color;
    opacity: 0;


}

.answer-code {
    font: {
        size: 20px;
        weight: bold;
    }
}

.show {
    opacity: 1;
    animation: animate 1s;
}
@media (max-width: 560px) {
    .game-title{
        font-size: 1.2em !important;
    }
    .game-description{
        font-size: 0.5em !important;
    }
    .guess-btn, .cheat-btn{
        width: 100% !important;
    }
    #game-input{
        width: 100% !important;
    }
    .game-header, .game-content{
        width: 100% !important;
    }
}
@keyframes shake {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translate(0, 100px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0px);
    }
}