* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir-FD.eot");
  src: url("../fonts/Vazir-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-FD.woff2") format("woff2"), url("../fonts/Vazir-FD.woff") format("woff"), url("../fonts/Vazir-FD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url("../image/dice.png");
  background-size: 200px;
}

.game {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Vazir";
  font-size: 1.4em;
}

.game-box {
  width: 85%;
  padding: 1em 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px #afafaf;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-header,
.game-content {
  margin: 30px 0;
}

.game-header .game-title {
  text-align: center;
  font-size: 2em;
}
.game-header .game-title:after {
  content: "";
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 2px;
  background: red;
}
.game-header .game-description {
  text-align: center;
  font-size: 0.8em;
}

.guess-btn, .cheat-btn {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  background-color: #8080ffff;
  transition: all 0.2s ease-in-out;
  font-family: "Vazir";
  font-size: 16px;
  outline: none;
}
.guess-btn:hover, .cheat-btn:hover {
  color: #ffffff;
  background-color: #aa87deff;
}

#game-input {
  font-family: "Vazir";
  font-size: 16px;
  outline: none;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #ddd;
  text-align: center;
}
#game-input:active, #game-input:focus {
  border: 2px solid #aa87deff;
}

.shake {
  animation: shake 0.2s;
}

.success {
  border: 2px solid #2aff80ff !important;
  color: #2aff80ff;
}

.error {
  border: 2px solid #ff5555ff !important;
  color: #ff5555ff;
}

.message, .answer {
  font-size: 16px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}

.error-message {
  background-color: #ffe4e4;
  color: #ff5555ff;
}

.success-message, .answer {
  background-color: #e6ffe6;
  color: #2aff80ff;
}

.cheat-btn {
  background-color: #ff5555ff;
}
.cheat-btn:hover {
  background-color: #aa87deff;
}

.answer {
  border: 2px solid #2aff80ff;
  opacity: 0;
}

.answer-code {
  font-size: 20px;
  font-weight: bold;
}

.show {
  opacity: 1;
  animation: animate 1s;
}

@media (max-width: 560px) {
  .game-title {
    font-size: 1.2em !important;
  }

  .game-description {
    font-size: 0.5em !important;
  }

  .guess-btn, .cheat-btn {
    width: 100% !important;
  }

  #game-input {
    width: 100% !important;
  }

  .game-header, .game-content {
    width: 100% !important;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

/*# sourceMappingURL=app.css.map */
